.box {
    background: variables.$bio-box-background;
    padding: 20px;
    display: grid;
    place-items: left;
    text-align: left;
    
    font-size: 20px;
    transition: 0.4s ease-in-out;

    border-radius: 10px;

    width: 100%;
    height: 100%;

    -webkit-transition: background color margin 0.4s ease-in-out;
    -moz-transition: background color margin 0.4s ease-in-out;
    -o-transition: background color margin 0.4s ease-in-out;
}


.box:hover {
    background: variables.$secondary;

    // cursor:pointer;
    margin-top: -5px;
    margin-bottom: 5px;

    .header {
        color: white;
    }

    .text {
        color: white;
    }

    a {
        color: variables.$light-link;
    }
}

.header {
    color: variables.$text;
    font-weight: 900;

    transition: 0.4s ease-in-out;
}

.text {
    color: variables.$text;
    
    font-weight: 500;
    font-size: 16px;

    transition: 0.4s ease-in-out;
}

a {
    transition: 0.4s ease-in-out;
}

.image {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    max-width: 60px;
    font-size: 40px;
}

.box:nth-child(1) {
    grid-column: span 2;
    grid-row: span 1;
}


.box:nth-child(5) {
    grid-column: span 1;
    grid-row: span 2;
}

.box:nth-child(8) {
    grid-column: span 3;
    grid-row: span 1;
}

@media (max-width: 900px) {
    .box {
        grid-column: unset !important;
        grid-row: span 1;
    }

    // .box:nth-child(8) {
    //     grid-row: unset !important;
    //     grid-column: unset !important;
    //     grid-column: span 4;
    //     margin: 100px;
    // }
}

// @media (max-width: 500px) {
//     .box {
//         grid-column: unset !important;
//         grid-row: unset !important;
//     }
// }