.box {
    // background: #ffff8580;
    background: rgba(109, 177, 216, 0.1);
    // background: #6DB1D8;
    padding: 20px;
    display: grid;
    place-items: left;
    text-align: left;
    
    color: red;
    font-size: 20px;
    transition: 0.5s;

    border-radius: 10px;

    -webkit-transition: background color margin 0.5s ease-in-out;
    -moz-transition: background color margin 0.5s ease-in-out;
    -o-transition: background color margin 0.5s ease-in-out;
}


.box:hover {
    background: #E94134;
    color: white;

    // cursor:pointer;
    margin-top: -5px;
    margin-bottom: 5px;
}

.header {
    font-weight: 300;
}

.text {
    font-weight: 400;
    font-size: 16px;
}

.image {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    max-width: 60px;
    font-size: 40px;
}