.box {
  background: variables.$text-background;
  padding: 10px;
  display: grid;
  place-items: left;
  text-align: left;

  font-size: 20px;
  transition: 0.4s ease-in-out;

  border-radius: 10px;

  max-width: 300px;
}

.box:hover {
  margin-top: -5px;
  margin-bottom: 5px;
}

.image {
  margin: 0;
  border-radius: 10px;
}

.info-container {
  margin: 10px 0 0 0;
}

.name {
  @include mixins.text;
  font-size: 1rem;
  line-height: normal;
  margin: 0 0 10px 0;
  padding: 0;
}

.tags {
  list-style: none;
  margin: 0;
  overflow: hidden; 
  padding: 0;

  li {
    float: left; 
    font-size: 16px;
  }
}

.tag {
  background: #eee;
  border-radius: 4px 4px 4px 4px;
  color: #999;
  display: inline-block;
  height: 26px;
  line-height: 28px;
  padding: 0 10px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  transition: color 0.2s;
  --webkit-transition: color 0.2s;
}

.tag::before {
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: '';
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}

.tag:hover {
  background-color: variables.$secondary;
  color: white;
  cursor: default;
}

.tag:hover::after {
   border-left-color: variables.$secondary;
}


.links {
  float: right;
}

.github, .website {
  color: variables.$unselected;
  transition: 0.4s;
  font-size: 18px;
}

.github:hover {
  color: black;
}

.website {
  margin-left: 16px;
}

.website:hover {
  color: variables.$link;
}

@media (max-width: 900px) {
  .box {
    grid-column: unset !important;
    grid-row: span 1;
  }
}
