img {
    width: 80%;
}

.header {
    @include mixins.title;
    @include mixins.responsive-font(8vw, 50px, 100px);

    font-family: "Radio Grotesk";
    font-weight: 400;
    color: variables.$primary;

    @include animations.fade-in-top(1s, 0s);
}

.date {
    font-weight: 300;
    margin-bottom: 0.5rem;
    text-align: right;
}

.divider {
    background-color: variables.$underline;
    height: 1px;
    max-width: 100%;

    margin-bottom: 2rem;
}

.date, .divider {
    @include animations.fade-in-top(1s, 0.4s);
}

.content {
    h1, h2, h3, h4, h5, h6, p, li {
        color: variables.$primary;
    }

    p, li, ul, ol {
        color: #622C31;
    }

    @include animations.fade-in-bottom(1s, 1s);
}

@media (max-width: 500px) {
    .header {
        margin-bottom: 1rem;
    }
}