@use './variables.scss' as var;

// Classes

@mixin page-title {
    color: var.$lime-green;
}


// Functions

@mixin responsive-font($size, $min: $size, $max: $size) {
    $clamp-size: #{'min(max(#{$size}, #{$min}), #{$max})'};
    font-size: $clamp-size;
}

@mixin responsive-top($size, $min: $size, $max: $size) {
    $clamp-size: #{'min(max(#{$size}, #{$min}), #{$max})'};
    top: $clamp-size;
}

@mixin responsive-circle-size($size, $min: $size, $max: $size) {
    $clamp-size: #{'min(max(#{$size}, #{$min}), #{$max})'};
    height: $clamp-size;
    width: $clamp-size;
}

@mixin responsive-picture-width($size, $min: $size, $max: $size) {
    $clamp-size: #{'min(max(#{$size}, #{$min}), #{$max})'};
    width: $clamp-size;
}