// // blue on pink
// $background: #F7C9D7;
$background: #f8c9cd;
$text-background: white;
$skills-background: white;
$bio-box-background: rgba(#0eaaa7, 0.2);

$primary: #0769da;
$secondary: #0eaaa7;

$text: #0769da;
$post-text: #622c31;

$underline: #dda6aa;

$link: #ff5c6c;
$light-link: #ffba0a;

// Coral pink

// $background: #FF5C6C;
// $background: #FF475A;
// $text: #FF3347;

// $primary: #C6F91F;
// $secondary: #FFE4FA;
// $third: rgba(255, 86, 102, 0.8);

// $underline: #FFE4FA;

// $text-background: #FFE4FA;
// $skills-background: #FFE4FA;
// $bio-box-background:  #FFD6F8;

// Purple on yellow

// $background: #FFCB47;
// $text-background: white;
// $skills-background: white;
// $bio-box-background:  #FFE4FA;

// $primary: #6A00F4;
// $secondary: #477BFF;
// $third: rgba(255, 86, 102, 0.8);

// $text: #6A00F4;

// $underline: #E8C1C5;

// Yellow on purple
// $background: #6A00F4;
// $text-background: white;
// $skills-background: white;
// $bio-box-background:  #FFE4FA;

// $primary: #FFCB47;
// $secondary: #5CC3FF;
// $third: rgba(2, 1, 1, 0.8);

// $text: #6A00F4;

// $underline: #E8C1C5;

// pink on green
// $background: #548C89;
// $text-background: white;
// $skills-background: white;
// $bio-box-background:  #FFE4FA;

// $primary: #F6C0D0;
// $secondary: #F4F482;
// $third: rgba(2, 1, 1, 0.8);

// $text: #6A00F4;

// $underline: #E8C1C5;
