$background: #f8c9cd;
$text-background: white;
$skills-background: white;
$bio-box-background: rgba(#0eaaa7, 0.2);

$primary: #0769da;
$secondary: #0eaaa7;

$text: #0769da;
$post-text: #622c31;

$underline: #dda6aa;

$link: #ff5c6c;
$light-link: #ffba0a;