@mixin responsive-picture-width($size, $min: $size, $max: $size) {
    $clamp-size: #{'min(max(#{$size}, #{$min}), #{$max})'};
    width: $clamp-size;
}

@mixin responsive-font($size, $min: $size, $max: $size) {
    $clamp-size: #{'min(max(#{$size}, #{$min}), #{$max})'};
    font-size: $clamp-size;
}

.text {
    color: #E94134;

    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.6);

    border-radius: 10px;

    margin: 1rem auto;
    width: 100%;

    font-weight: 400;

    @include responsive-font(3vw, 13px, 16px)
} 


.profile-picture {
    margin: 0;
    
    border-radius: 15px 50px 30px;
    border-style: solid;
    border-color: white;
    border-width: 6px;

    align-self: baseline;

    @include responsive-picture-width(20vw, 220px, 260px);
    height: auto;
}

.header {
    color: #E94134;
    position: relative;

    text-align: left;
    vertical-align: middle;

    margin: 0;
    font-family: "Radio Grotesk";
    font-weight: 400;

    @include responsive-font(8vw, 80px, 100px)
}


@media (max-width: 800px) {

  }
  

@media (max-width: 500px) {

    .profile-picture {
        align-self: center;
        border-radius: 50%;
    }

    .header {
        align-self: center;
        @include responsive-font(18vw, 30px, 80px)
    }

}