.profile-picture {
    Img {
        margin: 0;
        
        border-radius: 15px 50px 30px;
        border-style: solid;
        border-color: white;
        border-width: 6px;

        align-self: baseline;

        @include mixins.responsive-picture-width(20vw, 220px, 260px);
        height: auto;
    }
}

.title {
    @include mixins.title;
    @include mixins.responsive-font(8vw, 80px, 100px);
}


.subtitle {
    @include mixins.subtitle;
    @include mixins.responsive-font(6vw, 50px, 70px)
}

.text {
    @include mixins.text;
    @include mixins.responsive-font(3vw, 13px, 16px);
} 

.underline {
    @include mixins.underline;
}

#about-section {

    @include mixins.section;

    .underline {
        left: 20%;
        top: 5px;
    }

    &:hover {
        .underline{
            left: 0%;
            max-width: 60%;
            background-color: #6DB1D8;
        }
    }
}

#skills-section {

    @include mixins.section;

    .subtitle {
        text-align: right;
    }

    .underline {
        margin: auto 0 0 auto;
        margin-right: 0;
        right: 10%;
        top: 5px;
    }
    
    &:hover {
        .underline{
            right: 0%;
            max-width: 60%;
            background-color: #6DB1D8;
        }
    }
}

#bio-section {

    @include mixins.section;

    .subtitle {
        text-align: left;
    }

    .underline {
        left: 5%;
        top: 5px;
    }

    &:hover {
        .underline{
            left: 0%;
            max-width: 60%;
            background-color: #6DB1D8;
        }
    }
}


@media (max-width: 800px) {
    .subtitle {
        margin: 1rem 0 0 0;
    }

    #about-section, #skills-section, #bio-section {
        &:hover {
            .underline{
                max-width: 90%;
            }
        }
    }
  }
  

@media (max-width: 500px) {

    .profile-picture {
        align-self: center;

        Img {
            border-radius: 50%;
        }
    }

    #about-section {
        .title {
            @include mixins.responsive-font(18vw, 30px, 80px);
        }
    }

    #skills-section, #bio-section {
        .subtitle {
            text-align: center;
        }
    }
}
