.blocks {
  display: flex;

  // Components flow down vertically
  flex-direction: column;
  text-align: left;
  margin-left: 1rem;

}

@media (max-width: 800px) {
  .blocks {
    margin-left: 0;
  }
}