.section {
  @include mixins.section;

  &:hover {
    .underline {
      left: 0%;
      max-width: 60%;
      background-color: variables.$primary;
    }
  }
}

.title {
  @include mixins.title;
  @include mixins.responsive-font(8vw, 80px, 100px);

  z-index: 2;
}

.underline {
  @include mixins.underline;

  max-width: 5%;
  left: 50px;
  bottom: 10px;

  z-index: 1;
}

.title,
.underline {
  @include animations.fade-in-top(1s, 0s);
}
