.colour-block {
    display: flex;
    margin-top: 4rem;
    // justify-content: space-between;
}


@media (max-width: 800px) {
    .colour-block {
      text-align: center;
      place-content: center;
  
    }
  }

@-webkit-keyframes scale-up-hor-left {
    0% {
      -webkit-transform: scaleX(0.1);
              transform: scaleX(0.1);
      -webkit-transform-origin: 0% 0%;
              transform-origin: 0% 0%;
    }
    100% {
      -webkit-transform: scaleX(1);
              transform: scaleX(1);
      -webkit-transform-origin: 0% 0%;
              transform-origin: 0% 0%;
    }
  }
  @keyframes scale-up-hor-left {
    0% {
      -webkit-transform: scaleX(0.1);
              transform: scaleX(0.1);
      -webkit-transform-origin: 0% 0%;
              transform-origin: 0% 0%;
    }
    100% {
      -webkit-transform: scaleX(1);
              transform: scaleX(1);
      -webkit-transform-origin: 0% 0%;
              transform-origin: 0% 0%;
    }
  }
  
  
  
.rectangle-1 {
    height: 0.5rem;
    width: 15vw;
    background-color: #6DB1D8;

    -webkit-animation: scale-up-hor-left 0.6s cubic-bezier(0.770, 0.000, 0.175, 1.000) forwards;
    animation: scale-up-hor-left 0.6s cubic-bezier(0.770, 0.000, 0.175, 1.000) forwards;

  }

.rectangle-2 {
    height: 0.5rem;
    width: 15vw;
    background-color: #E94134;

    -webkit-animation: scale-up-hor-left 1.4s cubic-bezier(0.770, 0.000, 0.175, 1.000) forwards;
    animation: scale-up-hor-left 1.4s cubic-bezier(0.770, 0.000, 0.175, 1.000) forwards;

  }

.rectangle-3 {
    height: 0.5rem;
    width: 15vw;
    background-color: white;

    -webkit-animation: scale-up-hor-left 2.2s cubic-bezier(0.770, 0.000, 0.175, 1.000) forwards;
    animation: scale-up-hor-left 2.2s cubic-bezier(0.770, 0.000, 0.175, 1.000) forwards;
  }

.rectangle-4 {
    height: 0.5rem;
    width: 15vw;
    background-color: black;

    -webkit-animation: scale-up-hor-left 3s cubic-bezier(0.770, 0.000, 0.175, 1.000) forwards;
    animation: scale-up-hor-left 3s cubic-bezier(0.770, 0.000, 0.175, 1.000) forwards;
  }