 @-webkit-keyframes fade-in-fwd {
    0% {
      -webkit-transform: translateZ(-80px);
              transform: translateZ(-80px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }
  @keyframes fade-in-fwd {
    0% {
      -webkit-transform: translateZ(-80px);
              transform: translateZ(-80px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }
  
  
.icon-bar-animation {
  display: flex;
  flex-direction: row;

  margin-top: 3rem;
  margin-left: 0;
  list-style: none;

  a {
      color: #999999;
      text-decoration: none;
      padding-right: 2rem;
      transition: 0.3s;
  }

  -webkit-animation: fade-in-fwd 0.6s cubic-bezier(0.860, 0.000, 0.070, 1.000) 5.5s backwards;
  animation: fade-in-fwd 0.6s cubic-bezier(0.860, 0.000, 0.070, 1.000) 5.5s backwards;
}

.icon-bar {
  display: flex;
  flex-direction: row;

  margin-left: 0;
  margin-top: 3rem;
  list-style: none;

  a {
      color: #999999;
      text-decoration: none;
      padding-right: 2rem;
      transition: 0.3s;
  }
}

@media (max-width: 800px) {
  .icon-bar {
    text-align: center;
    place-content: center;
    margin-left: 1.45rem;
  }

  .icon-bar-animation {
    text-align: center;
    place-content: center;
    margin-left: 1.45rem;
  }

  .icon-bar-item {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

.resume-icon:hover{
    color: #6DB1D8;
}

.email-icon:hover{
    color: #E94234;
}

.linkedin-icon:hover{
    color: #0076B4; 
}

.github-icon:hover{
    color: black; 
}

.soundcloud-icon:hover{
    color: #FC6800; 
}