:root {
  --nav-width: 8.75rem;
  --gutter: 12px;
  --page-max-width: 40rem;
}

.background {
  background-color: #FFE8D7;
}

.container {
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  flex:1;
}

.content {
  // Centering
  padding: 1rem;
  
  // Expands div to fill page
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;

  background-color: #FFE8D7;

  height: 100vh;
}


@media (max-width: 500px) {

  .container {
    max-height: 100%;
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
  }
}