@mixin responsive-font($size, $min: $size, $max: $size) {
  $clamp-size: #{'min(max(#{$size}, #{$min}), #{$max})'};
  font-size: $clamp-size;
}

@mixin responsive-top($size, $min: $size, $max: $size) {
  $clamp-size: #{'min(max(#{$size}, #{$min}), #{$max})'};
  top: $clamp-size;
}

@mixin responsive-circle-size($size, $min: $size, $max: $size) {
  $clamp-size: #{'min(max(#{$size}, #{$min}), #{$max})'};
  height: $clamp-size;
  width: $clamp-size;
}

.name-headers {
  position: relative;

  h1 {
    font-family: "Radio Grotesk";
    font-weight: 400;
    margin-bottom: -0.25em;
    font-size: inherit;
  }

  z-index: 2;
}

.job-header {
  position: relative;

  h1 {
    font-family: "Radio Grotesk";
    font-weight: 400;
    font-size: inherit;
  }

  z-index: 2;
}


.circle {
  position: fixed;
  top: -16vh;
  right: 20vw;

  background-color: white;
  border-radius: 50%;
  z-index: 1;
  display: none;
}

.circle-animation {
  position: fixed;
  top: -16vh;
  right: 20vw;

  background-color: white;
  border-radius: 50%;
  z-index: 1;
  display: none;

  -webkit-animation: slide-in-elliptic-top-fwd 1.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards;
  animation: slide-in-elliptic-top-fwd 1.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards;
}

.name-headers, .job-header {
  @include responsive-font(10vw, 90px, 120px)
}
  
@media (max-width: 800px) {
  .name-headers {
    text-align: center;
    @include responsive-font(16.5vw, 80px, 90px)
  }
  
  .job-header {
    text-align: center;
    margin-top: 1rem;
    @include responsive-font(11vw, 50px, 70px)
  }

}

@media (max-width: 500px) {
  .name-headers {
    text-align: center;

    @include responsive-font(26vw, 70px, 110px);

    .name1, .name1-animation, .name2, .name2-animation, .name3, .name3-animation {
      display: none;
    }
  }
  
  .job-header {
    text-align: center;
    margin-top: 2rem;

    @include responsive-font(10vw, 30px, 50px)
  }

  .circle {
    display: inline-block;
    @include responsive-circle-size(120vw, 500px, 500px)
  }
  
  .circle-animation {
    display: inline-block;
    @include responsive-circle-size(120vw, 500px, 500px)
  }
}



@-webkit-keyframes slide-in-elliptic-top-fwd {
  0% {
    -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
            transform: translateY(-600px) rotateX(-30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
            transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 1400px;
            transform-origin: 50% 1400px;
    opacity: 1;
  }
}
@keyframes slide-in-elliptic-top-fwd {
  0% {
    -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
            transform: translateY(-600px) rotateX(-30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
            transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 1400px;
            transform-origin: 50% 1400px;
    opacity: 1;
  }
}


@-webkit-keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  

  .name1-animation {
    color: #FFFFFF;
    
    -webkit-animation: slide-in-top 1s cubic-bezier(0.770, 0.000, 0.175, 1.000) both;
    animation: slide-in-top 1s cubic-bezier(0.770, 0.000, 0.175, 1.000) both;
  }

  .name1 {
    color: #FFFFFF;
  }
  
  .name2-animation {
    color: #FFD2CE;

    -webkit-animation: slide-in-top 1s cubic-bezier(0.770, 0.000, 0.175, 1.000) 0.5s both;
    animation: slide-in-top 1s cubic-bezier(0.770, 0.000, 0.175, 1.000) 0.5s both;
  }

  .name2 {
    color: #FFD2CE;
  }
  
  .name3-animation {
    color: #FF9C9C;
    
    -webkit-animation: slide-in-top 1s cubic-bezier(0.770, 0.000, 0.175, 1.000) 1s both;
    animation: slide-in-top 1s cubic-bezier(0.770, 0.000, 0.175, 1.000) 1s both;
  }

  .name3 {
    color: #FF9C9C;
  }
  
  .name4-animation {
    color: #E94134;
  
    -webkit-animation: slide-in-top 1s cubic-bezier(0.770, 0.000, 0.175, 1.000) 1.5s both;
    animation: slide-in-top 1s cubic-bezier(0.770, 0.000, 0.175, 1.000) 1.5s both;
  }

  .name4 {
    color: #E94134;
  }
  
  .job-title-animation {
    color: #6DB1D8;

    -webkit-animation: slide-in-top 1s cubic-bezier(0.770, 0.000, 0.175, 1.000) 2s both;
    animation: slide-in-top 1s cubic-bezier(0.770, 0.000, 0.175, 1.000) 2s both;
  }

  .job-title {
    color: #6DB1D8;
  }

 