.headers {
    h1 {
      font-family: "Radio Grotesk";
      font-size: 8vw;
      font-weight: 400;
      margin-bottom: -0.25em;
      // font-size: 8rem;
      // margin-top: -4rem;
    }
  }
  
  
@media (max-width: 800px) {
    .headers {
      text-align: center;
      
      h1 {
        font-size: 12vw;
      }
    }
  }


@-webkit-keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  

  .name1-animation {
    color: #FFFFFF;
    
    -webkit-animation: slide-in-top 1s cubic-bezier(0.770, 0.000, 0.175, 1.000) both;
    animation: slide-in-top 1s cubic-bezier(0.770, 0.000, 0.175, 1.000) both;
  }

  .name1 {
    color: #FFFFFF;
  }
  
  .name2-animation {
    color: #FFD2CE;

    -webkit-animation: slide-in-top 1s cubic-bezier(0.770, 0.000, 0.175, 1.000) 0.5s both;
    animation: slide-in-top 1s cubic-bezier(0.770, 0.000, 0.175, 1.000) 0.5s both;
  }

  .name2 {
    color: #FFD2CE;
  }
  
  .name3-animation {
    color: #FF9C9C;
    
    -webkit-animation: slide-in-top 1s cubic-bezier(0.770, 0.000, 0.175, 1.000) 1s both;
    animation: slide-in-top 1s cubic-bezier(0.770, 0.000, 0.175, 1.000) 1s both;
  }

  .name3 {
    color: #FF9C9C;
  }
  
  .name4-animation {
    color: #E94134;
  
    -webkit-animation: slide-in-top 1s cubic-bezier(0.770, 0.000, 0.175, 1.000) 1.5s both;
    animation: slide-in-top 1s cubic-bezier(0.770, 0.000, 0.175, 1.000) 1.5s both;
  }

  .name4 {
    color: #E94134;
  }
  
  .job-title-animation {
    color: #6DB1D8;

    -webkit-animation: slide-in-top 1s cubic-bezier(0.770, 0.000, 0.175, 1.000) 2s both;
    animation: slide-in-top 1s cubic-bezier(0.770, 0.000, 0.175, 1.000) 2s both;
  }

  .job-title {
    color: #6DB1D8;
  }