@function clamp($number, $min, $max) {
  @return min(max($number, $min), $max);
}

.name-headers {
    // -webkit-background-clip: text;
    h1 {
      font-family: "Radio Grotesk";
      font-weight: 400;
      margin-bottom: -0.25em;
      // font-size: 8vw;
      font-size: inherit;
    }
  }

.job-header {
  h1 {
    font-family: "Radio Grotesk";
    font-weight: 400;
    // margin-bottom: -0.25em;
    // font-size: 8vw;
    font-size: inherit;
  }

}



@mixin responsive-font($size, $min: $size, $max: $size) {
  $clamp-size: #{'min(max(#{$size}, #{$min}), #{$max})'};
  font-size: $clamp-size;
}

.name-headers, .job-header {
  @include responsive-font(10vw, 90px, 120px)
}
  
@media (max-width: 800px) {
    .name-headers {
      text-align: center;
      @include responsive-font(16.5vw, 80px, 90px)
    }
    
    .job-header {
      text-align: center;
      margin-top: 1rem;
      @include responsive-font(11vw, 50px, 70px)
    }

  }

@media (max-width: 500px) {
  .name-headers {
    font-size: 2rem;

    text-align: center;
    transform: rotate(90deg);
    
    margin-bottom: 6rem;
    position: relative;
    top: 3rem;

    // h1 {
    //   font-size: 18vw;
    // }

  }

  .job-header {
    text-align: center;
    margin-top: 2rem;
    @include responsive-font(8vw, 50px, 50px)
  }
}


@-webkit-keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  

  .name1-animation {
    color: #FFFFFF;
    
    -webkit-animation: slide-in-top 1s cubic-bezier(0.770, 0.000, 0.175, 1.000) both;
    animation: slide-in-top 1s cubic-bezier(0.770, 0.000, 0.175, 1.000) both;
  }

  .name1 {
    color: #FFFFFF;
  }
  
  .name2-animation {
    color: #FFD2CE;

    -webkit-animation: slide-in-top 1s cubic-bezier(0.770, 0.000, 0.175, 1.000) 0.5s both;
    animation: slide-in-top 1s cubic-bezier(0.770, 0.000, 0.175, 1.000) 0.5s both;
  }

  .name2 {
    color: #FFD2CE;
  }
  
  .name3-animation {
    color: #FF9C9C;
    
    -webkit-animation: slide-in-top 1s cubic-bezier(0.770, 0.000, 0.175, 1.000) 1s both;
    animation: slide-in-top 1s cubic-bezier(0.770, 0.000, 0.175, 1.000) 1s both;
  }

  .name3 {
    color: #FF9C9C;
  }
  
  .name4-animation {
    color: #E94134;
  
    -webkit-animation: slide-in-top 1s cubic-bezier(0.770, 0.000, 0.175, 1.000) 1.5s both;
    animation: slide-in-top 1s cubic-bezier(0.770, 0.000, 0.175, 1.000) 1.5s both;
  }

  .name4 {
    color: #E94134;
  }
  
  .job-title-animation {
    color: #6DB1D8;

    -webkit-animation: slide-in-top 1s cubic-bezier(0.770, 0.000, 0.175, 1.000) 2s both;
    animation: slide-in-top 1s cubic-bezier(0.770, 0.000, 0.175, 1.000) 2s both;
  }

  .job-title {
    color: #6DB1D8;
  }